[Unit]
Description=My Webapp service

[Service]
User=ubuntu
WorkingDirectory={{ workspace }}
Type=forking
Environment=message="{{ message }}"
ExecStart=/usr/bin/docker run -d --name my-webapp --rm  -p {{ port }}:8080 -v "{{ workspace }}":/usr/local/tomcat/webapps/ tomcat:8.0
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
